:root {
	font-size: 16px;
	--color-blue: #236298;
    --color-red: #A50410;
    --color-red-2: #E76156;
    --color-light-blue: #27A6DA;
    --color-gray: #F4F4F4;
    --filter-black: #0000004a;

    --standard-padding: 4em 0;
    --large-padding: 9vw 0;
    --small-padding: 3vw 0;

    --font-general:  'Raleway', sans-serif;
}

/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;700;800&display=swap');

a, div, p, ul, li, tr, th, td {
	font-size: 1rem;
	font-weight: 500;
	color: var(--color-light-blue);
	font-family: var(--font-general);
}

select {
	color: var(--color-blue);
}

input {
	color: var(--color-red);
}

h1, h2, h3, h4 { 
	color: var(--color-blue);
	font-family: var(--font-general);
	text-align: center;
}

h1, h2 {
	font-weight: 500;
}

h3, h4 {
	font-weight: 800;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 1.7248rem;
}

h3 {
	font-size: 1.0452rem;
}

h4 {
	font-size: 1rem;
}

h5 {
	font-size: .85rem;
}

strong a {
	font-weight: 800;
}


/*Basic grid*/
.row {
	max-width: 1080px;
	margin: 2em auto;
	width: 80%;
}

.columns {
	display: grid;
}

.two-columns-row {
	grid-template-columns: 50% 50%;
}


/*general*/
.section-solid-blue {
	background-color: var(--color-blue);
}

.section-solid-blue h2, .section-solid-blue h3, .section-solid-blue h4, .section-solid-blue p {
	color:  white;
}

/*Home*/
.widget {
    margin: 0 2em;
    margin-bottom: 2em;
}

.intern-row {
	text-align: center;
}

ul {
	padding-inline-start: 1em;
}

li {
	list-style-type: "-";
}

li::marker {
	margin-left: -1em;
}

.row-paquetes .widget {
    box-shadow: 0px 3px 6px 1px rgb(0 0 0 / 20%);
    border-radius: 1rem;
    padding: 1em;
}

.content-support input {
	text-align: center;
    width: 40;
    border-radius: 0.5em;
    border: 1px solid var(--color-light-blue);
    padding: .3em;
}

.content-support .intern-row h3 {
	margin-bottom:  0.5em;
}