:root {
	font-size: 16px;
	--color-blue: #236298;
    --color-red: #A50410;
    --color-red-2: #E76156;
    --color-light-blue: #27A6DA;
    --color-gray: #F4F4F4;
    --filter-black: #0000004a;

    --standard-padding: 4em 0;
    --large-padding: 9vw 0;
    --small-padding: 3vw 0;

    --font-general:  'Raleway', sans-serif;
}

/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;700;800&display=swap');

a, div, p, ul, li, tr, th, td {
	font-size: 1rem;
	font-weight: 500;
	color: var(--color-light-blue);
	font-family: var(--font-general);
}

select {
	color: var(--color-blue);
	padding:  .3em;
}

input {
    color: var(--color-red-2);
    border-radius: .5em;
    border: 1px solid var(--color-light-blue);
    text-align: center;
}

h1, h2, h3, h4 { 
	color: var(--color-blue);
	font-family: var(--font-general);
	text-align: center;
}

h1, h2 {
	font-weight: 500;
}

h3, h4 {
	font-weight: 800;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 1.7248rem;
}

h3 {
	font-size: 1.0452rem;
}

h4 {
	font-size: 1rem;
}

h5 {
	font-size: .85rem;
}

strong a {
	font-weight: 800;
}


/*Basic grid*/
.row {
	max-width: 1080px;
	margin: 2em auto;
	width: 80%;
}


/*general*/
.section-solid-blue {
	background-color: var(--color-blue);
}

.section-solid-blue h2, .section-solid-blue h3, .section-solid-blue h4, .section-solid-blue p {
	color:  white;
}

/*Home*/
.widget {
    margin: 0 2em;
    margin-bottom: 2em;
}

.intern-row {
	text-align: center;
}

ul {
	padding-inline-start: .5em;
}

li {
	list-style-type: "-";
	padding-left: .5em;
}

.row-paquetes .widget {
    box-shadow: 0px 3px 6px 1px rgb(0 0 0 / 20%);
    border-radius: 1rem;
    padding: 1em;
}

.content-support input {
    width: 40;
    padding: .3em;
}

.content-support .intern-row h3 {
	margin-bottom:  0.5em;
}

.check-option {
	padding: 1.2em;
	border-radius: .5em;
	border: 1px solid var(--color-blue);
	color: var(--color-blue);
	min-height: 3em;
	display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2em 0;
}

.check-option h4 {
	font-weight: 500;
	color: var(--color-blue);
	margin: 0;
}

.check-option h4, .check-option input, .check-option label {
	margin:  auto 0;
}

.cant-paginas {
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
    width: 80;
    padding: .3em 0;
}



/*Query*/
@media(min-width: 800px) {
	.columns {
		display: grid;
	}

	.two-columns-row {
		grid-template-columns: 50% 50%;
	}

	.check-option.input-check {
		display: grid;
		gap: 1%;
    	grid-template-columns: 63% 20% 15%;
	}
}